<div id="footer">
    <ul>
        <li>
            <div class="logo">
                <img src="../images/logoicon.png">
                <img src="../images/logo.png">
            </div>
        </li>
        <li>
            <a href="/aboutus.do">关于我们</a><span> | </span><a href="#">联系我们</a>
        </li>
        <li>
            <span class="fa fa-weixin"></span>
            <span class="fa fa-weibo"></span>
            <span class="fa fa-facebook"></span>
            <span class="fa fa-twitter"></span>
        </li>
        <li>川ICP备16003461号 Copyright &copy; 2015-2016 Art Life 版权所有</li>
    </ul>
</div>